#superbanner {
    margin-left: auto;
    margin-right: auto;
    width: 728px
}

#arroba {
    position: relative;
}

#arroba object { margin: 0 auto; display: block; max-width: 100%; }

#advertising {
    cursor: pointer;
    height: 250px;
    overflow: hidden;
    position: absolute;
    text-indent: -9000px;
    width: 300px;
    max-width: 100%;
    z-index: 5
}