#header-nav .menu { height: 45px; line-height: 45px; float: left; }
#header-nav .menu li { float: left; text-transform: uppercase; margin-right: 20px; }
#header-nav a { text-decoration: none; }
#header-nav a:hover { text-decoration: underline; }

.header-action-label {
    text-transform: uppercase;
    color: #242324;
    height: 45px; line-height: 45px;
    position: relative;
    padding: 0 13px 0 40px;
    display: block;
}
.header-action-label:before {
    display: block;
    position: absolute; left: 10px; top: 5px;
    width: 20px; height: 27px;
    content: "";
    background-image: url("images/sprite-social.png");
    background-repeat: no-repeat;
}
#header-menu-label:before { background-position: -200px top; }
#header-search-label:before { background-position: -225px -2px; }


#header-search { height: 45px; }
.header-search-inputs,
#header-menu .menu { display: none; }

.is-opened-menu #header-menu-label { background: #e7e9f5; }
.is-opened-menu #header-menu .menu { display: block; }

.is-opened-search .header-search-inputs { display: block; }


.header-search-label {
    background-image: url("images/sprite-social.png");
    background-color: #e7eaf5;
    background-repeat: no-repeat;
    background-position: -220px 2px;
    padding-left: 25px;
}
.header-search-label input {
    height: 45px; line-height: 45px;
    padding: 0 10px;
    border: none; border-radius: 0;
    background: #e7eaf5;
}
@media only screen and (min-width: 661px) {
    .social-item {
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }
}
@media only screen and (max-width: 660px) {
    body { background-position: center -45px; position: relative; }
    #header-nav { height: auto; float: right; margin-top: 50px; }
    .header-action-label { color: #fff; }

    #header-search-label:before { background-position: -271px -2px; }
    #header-menu-label:before { background-position: -249px top; }

    #header-search-label,
    #wrap-header-menu,
    #header-search,
    #header-nav-social { float: none; }

    #header-nav-social { display: none; border-top: 2px solid #4f9e9a; padding-top: 15px; }

    #header-nav.is-opened-menu {
        background: #6bd2cd;
        border-left: 5px solid #4f9e9a;
        padding: 0 10px 0 0;
        width: 180px; min-height: 100%;
        position: absolute; z-index: 10;
        top: 0; right: 0;
        float: none;
        margin: 0;
    }
    #header-nav.is-opened-menu a { color: #000; }
    #header-nav.is-opened-menu .menu a,
    #header-nav.is-opened-menu .social-item a { display: block; height: 100%; padding-left: 10px; }
    #header-nav.is-opened-menu a:hover,
    #header-nav.is-opened-menu a:focus { background: #4f9e9a; }
    #header-nav.is-opened-menu .menu { height: auto; float: none; }

    #header-nav.is-opened-menu .menu li { margin-right: 0; }

    #header-nav.is-opened-menu .menu li,
    #header-nav.is-opened-menu #header-menu { float: none; }

    #header-nav.is-opened-menu #header-menu-label { display: none; }
    .is-opened-menu #header-nav-social { display: block; }


    .social-item { float: none; background: none; text-indent: 0; }
    .is-opened-menu .social-item { line-height: 45px; margin-right: 0; }
    .is-opened-menu .social-item a { width: auto; height: 100%; }
}